@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
 
 body {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eb96b4;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    overflow: hidden;
}

img {
    max-width: 100%;
}

h1  {
    cursor: pointer;
    user-select: none;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-animation-name: popupAvatar; 
    -webkit-animation-duration: .9s;
    animation-name: popupAvatar;
    animation-duration: .9s;
}

.box {
    display: flex;
    background-color: #f2f2f2;
    padding: 5rem 5rem 3rem 5rem;
    width: 65%;
    flex-direction: column;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 26px 6px rgb(0, 0, 0, 0.2);
    background-image: url(./images/background-box.JPG);
    background-size: cover;
    background-position: center; 
}

.information {
    display: flex;
    padding: 1rem .2rem;
    position: relative;
}

.info:first-child {
    flex-grow: 1;
}

.info:last-child .detail{
    order: -1;
}

.info {
    display: flex;
    align-items: center;
}

.detail {
    margin: 0 1rem;
    color: #fff;
}

.detail p {
    margin: 5px 0;
}

.name {
    text-transform: uppercase;  
    font-weight: 600;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    user-select: none;
}

.date {
    font-size: 23pt;
    font-weight: 600;
}
  
.cout-time {
    font-size: 18pt;
    font-weight: 300;
}

.posts {
    text-align: center;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    margin-top: 3rem;
    user-select: none;
}

.thank {
    text-align: center;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
    color: #fffeff;
    opacity: 0.8;
    user-select: none;
}

.thank img {
    width: 30px;
    display: inline-block;
    margin-left: .6rem;
    position: relative;
    top: .6rem;
}

.heart-box img {
    width: 50px;
}

.heart-box {
    position: absolute;
    width: 100px;
    top: calc(50% - 120px);
    left: calc(50% - 50px);
    text-align: center;
    font-size: 15px;
    margin-top: 1rem;
    transform: scale(1);
    animation: heartBeat 3s infinite;
}

/* create dropdown heart icon */
.heart-drop {
    background-image: url(./images/heart-like.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes heartBeat {
    0% {
        transform: scale(0.8);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes popupAvatar {
    0% {
        transform: scale(0);
    }

    33.33% {
        transform: scale(1.1);
    }

    66.66% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 998px) { 
    .body {
      overflow-x: hidden;
    }
    h1 {
        margin: 12px 0 15px 0;
    }
    .box {
      margin-bottom: 10rem;
      padding: 20px;
      width: 80%;
    }
    .information {
      flex-direction: column;
      align-items: center;
      max-height: 175px;
      padding: 0;
    }
    .heart-box {
        margin-top: 11rem;
    }
    .info {
      margin-bottom: 3rem;
      flex-direction: column;
    }
    .detail {
      margin-top: 0.3rem;
    }
    .info:last-child .detail{
      order: 1;
    }
  
    .info:first-child {
      margin-bottom: 15rem;
    }
    .info:last-child {
      margin-bottom: 0;
    }
    .name {
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
    .birthday {
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
    .time {
      margin-top: 14rem;
      margin-bottom: 0;
      
    }
    .posts {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .thank {
      margin-top: 0;
    }
  }
